* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --main-blue: #51d6d6;
    --content-blue: #327a96;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
    font-family: 'Trebuchet MS';
    background-color: #575959;
    color: var(--main-blue);
}

.header h1 { 
    padding: 5px 5px 5px 100px;
    display: inline-block;
    font-size: 45px;
    color: #575959;
    background-color: var(--main-blue);
}

.header nav {
    display: flex;
    padding: 15px;
    margin-right: 20px;
    /* margin-left: auto; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul li {
    display: inline-flex;
    margin: 0px 10px;
}

a {
    color: var(--main-blue);
    text-decoration: none;
    padding: 0px 7px;
    border-bottom: 3px solid;
}

p {
    margin: 2%;
    font-size: 110%
}

.stock {
    display: flex;
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/stock.jpg");
    background-size: cover;
    background-position: center;
}

.stock h2 {
    margin: auto 50px 15px auto;
    padding: 5px 5px 5px 5px;
    font-size: 45px;
    color: #575959;
    background-color: var(--main-blue);
}

.content {
    display: flex;
    justify-content: flex-start;
    font-family: 'Trebuchet MS';
}

.content h3 {
    flex: 0 0 20%;
    margin: 15px 0px;
    padding-right: 10px;
    text-align:end;
    font-size: 55px;
    border-right: 3px solid;
    border-color: black;
    color: var(--content-blue);
}

.content nav {
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 15px;
    /* margin-right: 20px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.content nav ul li {
    display: inline-flex;
    margin: 0px 10px;
}

.work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color:black;
    padding: 10px 10px;
    /* flex: 0 0 400px; */

}

.work-item {
    display: flex;
    position: relative;
    margin: 10px;
    flex: 0 0 35%;
    filter: brightness(50%);
}

.work-item h4 {
    position: absolute;
    font-size: 30px;
    padding: 5px 5px 20px 35px;
    bottom: 20px;
    left: 0;
    background-color: #51d6d6;
    filter: brightness(100%);
}

.work-item h5 {
    position: absolute;
    bottom: 20px;
    padding: 5px 5px 7.5px 35px;
    font-size: 10px;
}

.work-item a {
    border-bottom: none;
    padding: none;
}

.work img {
    border-style: solid;
    border-width: 4px;
    border-color: var(--main-blue);
    flex: 1 1;
    height: 350px;
    max-height: 350px;
}

.work-item:hover {
    filter: brightness(100%);
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Trebuchet MS';
}

.footer h3 {
    flex: 0 0 20%;
    margin: 15px 0px;
    padding-right: 10px;
    text-align:end;
    font-size: 55px;
    border-right: 3px solid;
    border-color: black;
    color: var(--content-blue);
}

.footer nav {
    /* display: flex;
    justify-content: center; */
    font-size: 20px;
    margin: 0px 10px;
}

.footer nav ul li {
    display: inline-flex;
}


@media screen and (max-width: 800px) {
    .header{
        padding: 10px 0px;
        text-align: center;
        flex-direction: column;
    }

    .header h1 { 
        padding: 5px 5px 5px 5px;
        display: inline-block;
        font-size: 45px;
        color: #575959;
        background-color: var(--main-blue);
    }

    nav {
        flex-direction: column;
    }

    .header nav ul li {
        text-align:center;
        margin: 10px;
    }
}


/* Need help with:
1. Getting the first, surf, image to be bigger than the rest. nth-child didn't seem to work

2. why isn't flex grow/shrink working on the images

3. footer section: trying to get the links to be positioned in the middle

4. When I hover over the images, I just want the images to highlight up. But it's the whole section.
I tried to set 'work img' to brightness 75% but then the text went away.

5. 
 

*/