* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* repeating colors - no need to keep typing the code */
:root{
    --main-blue: #51d6d6;
    --content-blue: #327a96;
}

/* top of the page content - centers text with padding to extend the background color */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
    font-family: 'Trebuchet MS';
    background-color: #575959;
}

/* text for the top left */
.header h1 { 
    padding: 5px 5px 5px 100px;
    display: inline-block;
    font-size: 45px;
    color: #575959;
    background-color: var(--main-blue);
}

/* text for the links on the top right */
.header nav {
    display: flex;
    padding: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* keeping the nav links in line vs a column as a list */
.header nav ul li {
    display: inline-flex;
    margin: 0px 10px;
}

a {
    color: var(--main-blue);
    text-decoration: none;
    padding: 0px 7px;
    border-bottom: 3px solid;
}

p {
    margin: 2%;
    font-size: 110%
}

/* background photo below header */
.stock {
    display: flex;
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/stock.jpg");
    background-size: cover;
    background-position: center;
}

/* text on the bottom right of stock photo */
.stock h2 {
    margin: auto 50px 15px auto;
    padding: 5px 5px 5px 5px;
    font-size: 45px;
    color: #575959;
    background-color: var(--main-blue);
}

/* parent for major sections */
.content {
    display: flex;
    justify-content: flex-start;
    font-family: 'Trebuchet MS';
}

/* text for the section headers(on the side) */
.content h3 {
    flex: 0 0 20%;
    margin: 15px 0px;
    padding-right: 10px;
    text-align:end;
    font-size: 55px;
    border-right: 3px solid;
    border-color: black;
    color: var(--content-blue);
}

.content nav {
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.content nav ul li {
    display: inline-flex;
    margin: 0px 10px;
}

/* subclass of content for the clients work */
.work {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    color:black;
    padding: 10px 10px;
}

/* each individual item described for work */
.work-item {
    display: flex;
    position: relative;
    margin: 10px;
    flex: 0 0 35%;
    min-width: 350px;
    min-height: 350px;
}

/* text within work item */
.work-item h4 {
    position: absolute;
    font-size: 30px;
    padding: 5px 5px 20px 35px;
    bottom: 20px;
    left: 0;
    background-color: #51d6d6;
}

/* subtext under the h4 */
.work-item h5 {
    position: absolute;
    bottom: 20px;
    padding: 5px 5px 7.5px 35px;
    font-size: 10px;
}

/* SURF, LED, CALC, PASTEL, and RUN are each section of work that is submitted and
each have their own image */
.surf {
    display: flex;
    flex: 1 1 75%;
    background-color: rgba(255, 255, 255, 0.563);
    background-blend-mode: lighten;
    background-image: url("../images/surf.jpg");
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-width: 4px;
    border-color: var(--main-blue);
    max-height: 200px;
    width: 600px;
}

.led {
    flex: 1 1 ;
    background-color: rgba(255, 255, 255, 0.563);
    background-blend-mode: lighten;
    background-image: url("../images/led.jpg");
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-width: 4px;
    border-color: var(--main-blue);
    min-width: 45%;
}

.calc {
    display: flex;
    flex: 1 1;
    background-color: rgba(255, 255, 255, 0.563);
    background-blend-mode: lighten;
    background-image: url("../images/calc.jpg");
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-width: 4px;
    border-color: var(--main-blue);
    min-width: 45%;
}

.pastel {
    display: flex;
    flex: 1 1;
    background-color: rgba(255, 255, 255, 0.563);
    background-blend-mode: lighten;
    background-image: url("../images/pastel.jpg");
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-width: 4px;
    border-color: var(--main-blue);
    min-width: 45%;
}

.run {
    display: flex;
    flex: 1 1;
    background-color: rgba(255, 255, 255, 0.563);
    background-blend-mode: lighten;
    background-image: url("../images/run.jpg");
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-width: 4px;
    border-color: var(--main-blue);
    min-width: 45%;
}

.work a {
    border-bottom: none;
    padding: 0;
}

/* when you hover, the section with highlight itself */
.work-item:hover {
    background-blend-mode: normal;
}

/* bottom section of the page */
.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    font-family: 'Trebuchet MS';
}

/* text for the bottom section */
.footer h3 {
    flex: 0 0 20%;
    padding-right: 10px;
    text-align:end;
    font-size: 55px;
    border-right: 3px solid;
    border-color: black;
    color: var(--content-blue);
}

.footer nav {
    /* display: flex;
    justify-content: center; */
    font-size: 20px;
    margin: 0px 10px;
}

.footer nav ul li {
    display: inline-flex;
}

/* when the page is lowered below 800px, the page with reformat to fit the page via specific
entry */
@media screen and (max-width: 800px) {
    .header{
        padding: 10px 0px;
        text-align: center;
        flex-direction: column;
    }

    .header h1 { 
        padding: 5px 5px 5px 5px;
        display: inline-block;
        font-size: 45px;
        color: #575959;
        background-color: var(--main-blue);
    }

    nav {
        flex-direction: column;
    }

    .header nav ul li {
        text-align:center;
        margin: 10px;
    }

    .content {
        display: block;
    }

    .content h3 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 55px;
        /* border-bottom: 3px solid;
        border-color: black; */
        color: var(--content-blue);
    }

    .footer {
        display: flex;
        justify-content: center;
    }
}

