* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --main-blue: #51d6d6;
    --content-blue: #327a96;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
    font-family: 'Trebuchet MS';
    background-color: #575959;
    color: var(--main-blue);
}

.header h1 { 
    padding: 5px 5px 5px 100px;
    display: inline-block;
    font-size: 45px;
    color: #575959;
    background-color: var(--main-blue);
}

.header nav {
    display: flex;
    padding: 15px;
    margin-right: 20px;
    /* margin-left: auto; */
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul li {
    display: inline-flex;
    margin: 0px 10px;
}

a {
    color: var(--main-blue);
    text-decoration: none;
    padding: 0px 7px;
    border-bottom: 3px solid;
}

p {
    margin: 2%;
    font-size: 110%
}

.stock {
    display: flex;
    height: 700px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/stock.jpg");
    background-size: cover;
    background-position: center;
}

.stock h2 {
    margin: auto 50px 15px auto;
    padding: 5px 5px 5px 5px;
    font-size: 45px;
    color: #575959;
    background-color: var(--main-blue);
}

.content {
    display: flex;
    flex-grow: 1;
    font-family: 'Trebuchet MS';
}

.content h3 {
    flex: 0 0 25%;
    margin-bottom: 30px;
    padding-right: 10px;
    text-align:end;
    font-size: 55px;
    border-right: 3px solid;
    border-color: black;
    color: var(--content-blue);
}

.content h4 {
    margin: 10px 0px;
    font-size: 14px;
    margin-left: 20px;
}

.content nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-right: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.content nav ul li {
    display: inline-flex;
    /* justify-content: flex-end;
    align-items: center; */
    margin: 0px 10px;
}



@media screen and (max-width: 800px) {
    .header{
        padding: 10px 0px;
        text-align: center;
        flex-direction: column;
    }

    .header h1 { 
        padding: 5px 5px 5px 5px;
        display: inline-block;
        font-size: 45px;
        color: #575959;
        background-color: var(--main-blue);
    }

    nav {
        flex-direction: column;
    }

    .header nav ul li {
        text-align:center;
        margin: 10px;
    }
}